body {
    font-family: 'opensans-regular', sans-serif;
    padding: 20px;
    color: #e6e6e6;
  }

  h2, h5 {
      color: #eee;
      size: 30px;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    float: left;
    width: 75%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #4b4b4b;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   .encompass {
       padding-left: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-right: 40%;
   }

