body {
    font-family: 'opensans-regular', sans-serif;
    padding: 20px;
    color: #e6e6e6;
  }

  h2 {
      color: #e7e7e7;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    float: left;
    width: 75%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #777;
    opacity: 1;
    width: 100%;
    padding: 20px;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 5px solid #e6e6e6;
  }
  
  /* Add a card effect for articles */
  .card {
    padding: 20px;
    opacity: 1;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .encompass {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 30%;
   }

