body {
    font-family: 'opensans-regular', sans-serif;
    padding: 20px;
    background: #1f1f1f;
    color: #f1f1f1;
  }

  h2 {
      color: #ffffff;
      size: 30px;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    float: left;
    width: 75%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #5f5f5f;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
