body {
    font-family: 'opensans-regular', sans-serif;
    padding: 20px;
    color: #e6e6e6;
  }

  /*h2, h5 {
      color: #eee;
      size: 30px;
  }*/
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    float: left;
    width: 75%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #777;
    opacity: 1;
    width: 100%;
    padding: 20px;
    height: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #2b2b2b;
    padding: 20px;
    opacity: 0.7;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .encompass {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 30%;
   }

