
html {
  font-size: 16px;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 60px;
  color: #fff;
  font-size: 30px;
}

.navigator {
  display: flex;
  justify-content: center;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.roof-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: cornflowerblue;
  height: 40px;
  justify-content: center;
  display: flex;
}

.roof-navbar ul {
  justify-content: center;
  display: flex;
}

.roof-navbar a {
  color: cornflowerblue;
  text-decoration: none;
  text-align: center;
  display: block;
  float: center;
  display: flex;
}

.roof-navbar a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

.roof-navbar a:hover {
  background-color: darkblue;
  color: powderblue;
}

li {
  display: inline;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
  color: black;
}

.sec-about a:hover {
  text-decoration: none;
  color: white;
  background-color: lightgray;
}

.sec-about a:visited {
  color: black;
}

.soc-media-ul a{
  color :white;
}

.soc-media-ul a:visited{
  color: white;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  margin-top: 50px;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.sec-main {
  position: relative;
  height: 560px;
  width: 100%;
  background: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg) no-repeat center center;
  background-size: contain;
  z-index: -100;
}

footer {
  background: #000;
}
