
html {
  font-size: 16px;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

li {
  display: inline;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.navbar-default {
  background: #fff;
}

.sec-main {
  position: relative;
  height: 560px;
  background: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 60px;
  color: #fff;
}

footer {
  background: #000;
}
