
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 20px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 60px;
  color: #fff;
  font-size: 30px;
}

.navigator {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.roof-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: cornflowerblue;
  height: 40px;
  justify-content: center;
  display: flex;
  z-index: 1000;
  align-items: center;
}

.roof-navbar ul {
  justify-content: center;
  display: flex;
}

.roof-navbar li {
  display: inline;
}

.roof-navbar a {
  color: cornflowerblue;
  text-decoration: none;
  text-align: center;
  float: center;
  display: flex;
  padding: 2px 4px 0px 4px;
}

.roof-navbar a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

.roof-navbar a:hover {
  background-color: darkblue;
  color: powderblue;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.row {
  align-content: center;
  text-align: center;
}

.sec-about a {
  text-decoration: underline;
  color: black;
}

.sec-about a:hover {
  text-decoration: none;
  color: white;
  background-color: lightgray;
}

.sec-about a:visited {
  color: black;
}

.sec-contact {
  align-content: center;
  text-align: center;
}

.sec-contact ul {
  display: block;
  align-self: center;
  align-content: center;
  text-align: center;
  list-style: inside;
}

.sec-contact li {
  display: block;
  align-content: center;
  text-align: center;
  padding: 3px 0px 3px 0px;
}

.contact-heading {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0px 4px 0px;
}

.sec-contact a {
  text-decoration: underline;
  color: black;
}

.sec-contact a:hover {
  text-decoration: none;
  color: white;
  background-color: lightgray;
}

.sec-contact a:visited {
  color: black;
}

.soc-media-ul li {
  display: inline;
}

.soc-media-ul a {
  color: white;
  padding: 0px 5px 0px 5px;
  font-size: 15px;
  text-decoration: none;
}

.soc-media-ul a:visited {
  color: white;
  text-decoration: none;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
  bottom: 0;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  margin-top: 50px;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.sec-main {
  position: relative;
  height: 560px;
  background: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg) no-repeat center;
  z-index: -100;
}

footer {
  background: #000;
  width: 100%;
  bottom: 0;
}
